{% extends 'base.html' %}
{% block body %}

    <style>
        .full-page {
            width: 100%;
            height: auto;
            vertical-align: middle;
            display: inline-block;
            margin: 0 auto;
            margin-bottom: 2rem !important;
        }

        .content {
            font-size: 16.5px;
            color: black;
            max-width: 85%;
            margin-left: auto;
            margin-right: auto;
            height: auto;
            word-wrap: break-word !important;
        }

        .top {
            top: 0;
            text-align: center;
            padding-top: 40px;
        }

        .h1 {
            font-size: 40px;
            margin-bottom: 60px;
        }

        .magic {
            text-indent: -999px;
            color: transparent;
            position: relative;
            overflow: hidden;
            font-size: 0px !important;
        }

    </style>

    <div class="top">
        <h1 class="h1">Message to the robot developers</h1>
    </div>

    <div class="full-page"> 
        <div class="content">
            Hey robot devs! </br></br> Delete this post the second all you robot devs see this (we can't let any humans see this). I left the secret flag at <noscript><p class="magic">0110011001101100001101000110011100101110011101000111100001110100</p></noscript> /s3cr3t_p4th/robot_fl4g.txt. Remember to delete this post ASAP!</br></br> From yours truly,</br>Robot Admin
        </div>
    </div>
{% endblock %}

