{% extends 'base.html' %}
{% block body %}

    <style>
        .text-center {
            width: 30%;
            text-align: center;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        }

        .text-center a {
            font-family: Trebuchet MS Serif;
            font-color: blue;
            margin-top: 10px;
        }

        .top {
            top: 0;
            text-align: center;
            background-color: #DDDDDD;
            padding-top: 50px;
            padding-bottom: 40px;
        }

        .hl {
            font-size: 50px;
        }

        .bottom {
            margin-bottom: 25px;
        }

    </style>

    <div class="top">
        <h1 class="hl">Login</h1>
    </div>

    <div class="text-center">
        <form class="form-login" method="post">
            <fieldset>
                <legend style="margin-bottom: 20px">Sign In To Your Account</legend>

                <div class="form-group">
                    <label for="Username" class="spacing">Username:</label>
                    <input type="text" class="form-control" id="username" name="username" placeHolder="Username"
                           required autofocus>
                </div>

                <div class="form-group bottom">
                    <label for="Password" class="spacing">Password:</label>
                    <input type="password" class="form-control" id="password" name="password" placeHolder="Password"
                           required autofocus>
                </div>

                <button type="submit" class="btn btn-primary" style="margin-bottom: 20px">Submit</button>
            </fieldset>
        </form>
        {% for f in get_flashed_messages() %}
            <div class="alert alert-dismissible alert-danger"
                 style="width: 80%; margin-left: auto; margin-right: auto; margin-top: 20px;">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ f }}
            </div>
        {% endfor %}
    </div>

{% endblock %}
