{% extends 'base.html' %}
{% block body %}

    <style>
        .top {
            top: 0;
            text-align: center;
            padding-top: 40px;
            padding-bottom: 70px
        }

        .h1 {
            font-size: 60px;
            margin-bottom: 60px;
        }

    </style>

    <div class="top">
        <h1 class="h1">Welcome to Secret Robot Forum!!</h1>
        <h3>Create an account to view the posts. All humans must die.</h3>
        <img src='/static/robot_memes.jpg' width="400" height="400">
    </div>

{% endblock %}
