
<nz-layout class="layout">
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
      <li nz-menu-item>MY</li>
      <li nz-menu-item>BIGGEST</li>
      <li nz-menu-item>YEAH BOII EVER</li>
    </ul>
  </nz-header>
  <nz-content style="padding:0 50px; height: 100vh">
    <nz-breadcrumb style="margin:16px 0;">
      <!--      <nz-breadcrumb-item>Home</nz-breadcrumb-item>-->
    </nz-breadcrumb>
    <h1 class="header">COOKIE CLICKER</h1>
    <router-outlet></router-outlet>
  </nz-content>
  <!--  <nz-footer style="text-align: center;">Ant Design ©2019 Implement By Angular</nz-footer>-->
</nz-layout>
