<!doctype html>
<html>
    <head>
        <title>Design Competition</title>
        {% block resources %}{% endblock %}
    </head>
    <body>
        {% block header %}{% endblock %}
        <header>
            <h1>Design our homepage 2020!</h1>
        </header>
        <main>
            <figure>
                <img src="https://source.unsplash.com/random/400x300" alt="Random Image">
                <figcaption>Image courtesy of <a href="http://unsplash.com">Unsplash</a></figcaption>
            </figure>
            <section>
                <p>As you can see our homepage is pretty bland at the moment.
                   We're looking toward the community to design us a new homepage!</p>
                <p>We have provided you with a few html elements that we want you to style
                   using css3. Due to security concerns we will unfortunately not allow
                   you to edit the HTML directly.</p>
            </section>
            <section>
                <p>You can either copy the HTML source of this page into your own site
                   and design your submission there or we alternatively provide a playground
                   where you can design your page on our website. (For legal reasons we can only
                   give you the ability to preview designs in the playground. You will still need
                   to host your submission on your own website.)</p>
                <p>Once you are happy with your page you can submit a link to the judges for
                   rating. Submissions that gain a 10/10 rating will be given a secret invitation
                   code to join the next round of the competition. We are focused on initial impact
                   in this competition, and as such judges will only spend a maximum of 10 seconds
                   on each submission.</p>
            </section>
            <section>
                <p><a href="/login">Get started by logging in here.</a></p>
            </section>
        </main>
        <footer>&copy; Copyright 2020</footer>
    </body>
</html>